

.password-level-holder{
	display:none;
	margin-left:15px;
	width:150px;
	vertical-align:bottom;
}

.password-level-holder .border{
	border:1px solid #000;
	background:#fff;
	width:150px;
	height:10px;
	padding:2px;
	margin-bottom:3px;
}


.password-level-holder .fill{
	display:block;
	width:0px;
	height:10px;
}

.password-level-holder .message{
	font-size:14px;
	
}

.password-level-bar{
	display:block;
}

.password-level-holder .password-message{
	text-align:center;
	display:block;
	margin:auto;
	font-size:12px;
}